/*-------------------------------------FOOTER-------------------------------------------------------*/

footer {
    color: #fff;
    width: 100vw;
    min-height: 44px;
    background-color: $brown;
    font-size: 14px;
    li {
        line-height: 26px;
        &:hover > * {
            color: rgb(211, 205, 205);
        }
        &:hover {
            cursor: pointer;
        }
        a {
            color: #fff;
            font-size: 14px;
            font-weight: 450;
        }
        .footer_brand {
            font-size: 40px;
            font-family: 'SchoolBook';
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
    .brand_icon {
        height: 12vh;
        position: absolute;
        left: -64%;
        top: -14%;
    }
    .download_btn {
        background-color: black;
        color: #fff;
        padding: 2px 8px 1px 8px;
        border: 1px solid gray;
        border-bottom: 2px solid gray;
        font-size: 7px;
        line-height: 14px;
        height: 41px;
        width: 128px;
        .download_brand {
            font-size: 14px;
            font-weight: 400;
        }
    }
    .groups_img {
        width: 40px;
    }
}
/*-------------------------------------FOOTER---IS---FINISHED------------------------------------------------*/